.content {
    height: 100%;
    margin: 0;
    background: url('../Images/Spacewarlock_Background_Image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content_logo {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    width: 70%
}